  <label for="message_your_message">Your message</label>:
  <input type= "text" class="form-control" data-input="message" name="message[content]" id="message_content">
  <input type="submit" name="commit" value="send" class="btn btn-primary" style="display: none" data-send="message" data-disable-with="send" />

