<h1><%= @room.id %></h1>


<div class="panel panel-default">
  <div class="panel-body" id="messages" data-room= <%= @room.id%>>
    <%= render partial: 'messages/message', collection: @room.messages%>
  </div>
</div>

<%= render partial: 'messages/message_form', locals: {message: @message, room: @room}%>